.about {
    margin-top: -4em;
}
.about .title {
    font-weight: 400;
    // padding-bottom: 0.4em;
    font-weight: bold;
}
.about .title em {
    font-weight: 500;
    font-weight: bold;
}
.about p {
    transition: ease-in 0.6s;
    margin-bottom: -2.5em;
    margin-top: 1em;
}
.about p:hover {
    transition: ease-in 0.6s;
    transform: scale(1.02);
}
.about p.first {
    padding-top: 1em;
}
.about p.last {
    padding-bottom: 3em;
    margin-top: 2em;
}


.my_photo {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    padding-top: 1.5em;
    
    @include bp(mobile){
        flex-wrap: wrap;
        padding-bottom: 2em;
    }

    .my_info {
        padding: 0 2em;
        margin-right: 3em;

         @include bp(mobile) {
            padding-top: 3em;
        }
          
    }
    
    img {
        border-radius: 50%;
        box-shadow: 0 0 1.5em 0 rgba(black, 0.7);
        width: 13em;
        height: 13em;
        transition: ease-in 0.4s;
        
       

        &:hover {
            transition: ease-in 0.4s;
            transform: scale(1.1);
        }
    }   


    p {
        text-align: center;
        padding-bottom: 0.2em;
        padding-top: 0.5em;
        font-weight: bold;

        @include bp(mobile){
            padding-bottom: 1em;
            padding-top: 1em;
        }
    }
}

.my_photo2 {
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    padding-top: 1.5em;
    
    @include bp(mobile){
        flex-wrap: wrap;
        padding-bottom: 2em;
    }

    .my_info2 {
        padding: 0 2em;
        margin-right: 1.5em;

        @include bp(mobile) {
            padding-top: 3em;
        }
    }
    
    img {
        border-radius: 20%;
        box-shadow: 0 0 1.5em 0 rgba(black, 0.7);
        width: 16em;
        height: 12em;
        transition: ease-in 0.4s;

        &:hover {
            transition: ease-in 0.4s;
            transform: scale(1.1);
        }
    }   


    p {
        text-align: center;
        padding-bottom: 0.2em;

        @include bp(mobile){
            padding-bottom: 1em;
            padding-top: 1em;
        }
    }
}

