.page-contacts {
    .info {
        padding-top: 0.5em;
    }
    .info p {
        font-size: 1.1em;
        font-weight: 300;
        padding: 0.1em 0;
        
    }
    iframe {
       
        width: 55%;
        margin: 1.5em 0 2em 0;
        border-radius: 2%;
        box-shadow: 0 0 10px black;
        margin-top: 2.5em;

        @include bp(mobile) {
            width: 90%;
            margin: 0;
            margin-left: 1.7em;
            justify-content: center;
            margin-bottom: 2em;
            margin-top: 2em;
           
        }
    }

    .map-form {
        @include bp(desktop) {
            display: flex;
            justify-content: space-between;
            margin-left: 1em;
            
        }
       
        @include bp(mobile){
            display: inline;
            margin: auto;
            align-content: center;
        }
    }
    .direct-message {
        width: 40%;
        margin-top: 1.5em;
        margin-left: 5em;
        margin-right: -2em;
        // @include bp(mobile) {
        //     width: 70%;
        //     // margin: auto;
        //     margin-left: -1em;
        // }

        @include bp(mobile) {
            width: 90%;
            margin: 0;
            margin-left: 1.7em;
            justify-content: center;
            margin-bottom: 2em;
            margin-top: 2em;
           
        }
    
        .field {
            label {
                order: 1;
                display: block;
                padding-bottom: 0.2em;
            }
            textarea {
                order: 2;
            }
            
        }
    }

}