.story-info {
    @include bp('desktop') {
    display: grid;
    grid-gap: 2em;
    padding-bottom: 1.3em;
    grid-template-columns: repeat(4, 1fr);
    padding: 1.5em;
    margin-bottom: 2em;
    box-shadow: 0 0 1.5em 0 rgba(black, 0.3);
    border-radius: 0.5em;
    width: auto;
    height: 18em;
    .personal-info,
    .ar-box{
        grid-column: span 2;
    }
    
    }

    .personal-info {
        padding: 2em;
        color: #333;
        p {
        margin: 0;
        padding-bottom: 0.3em;
        }

        h5 {
            margin-bottom: 1em;
            margin-top: -2em;
            font-weight: bold;
        }
    }

    .right {
        text-align: right;
    }

    .ar-box {
        display: block;
        width: 90%;
        height: auto;
        border-radius: 0.5em;
        margin-bottom: 0.5em;
        margin-right: 0.5em;
        margin-left: 0.5em;
        margin-top: 0.5em;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 1.5em 0 rgba(black, 0.3);
        

        &:after {
            display: block;
            content: '';
            
        }

        .inner {
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
        }

         img {
            display: block;
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
    
        }
    }

}

.story-info:nth-child(even) .personal-info {
	order: 2;
}

