body {
    background: rgb(238, 238, 238);
}

.site {
    max-width: var(--layout-width, 75rem);
    margin: 0 auto;
}

.site-header {
    @include bp(mobile) {
        
    }
    
    @include bp(desktop) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
}

.site-branding h1 a{
	text-decoration: none;
	font-family: 'Lexend Tera', sans-serif;
	color: black;
}

// .card {
//     border: 2px solid #CCC;
// }

// .card p {
//     display: none;
// }

// .card p:first-of-type {
//     display: block;
// }

// .card .button .less {
//     display: none;
// }

// input:checked + .card p {
//     display: block;
// }

// input:checked + .card .button .more {
//     display: none;
// }

// input:checked + .card .button .less {
//     display: inline;
// }

//css for header media

.site-media {
	min-height: 60vh;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em 0;
	margin-bottom: 3em;
}


.site-media:before {
	display: block;
	content: '';
	background: rgba(99, 107, 109, 0.8);
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
}

.site-media img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: fill;
}

.site-media .site-wrapper {
	width: 100%;
	color: #FFF;
	position: relative;
	z-index: 10;
	font-size: 1.6em;
	padding-top: 2rem;
	padding-bottom: 5rem;
	
    

	@include bp(desktop) {
        padding-right: 10em;
        padding-left: 10em;
	}
}

.site-media h2 {
	font-weight: 700;
}

.site-media p {
	font-weight: 400;
	opacity: 0.8;
	
}
.site-media p + p{
	margin: -1em;
	
}

.site-media  p.last {
	padding-left: 5em;
}
.site-media  p.first {
	padding-left: 3em;
}


// css for site-main title
main.site-main{

	padding-bottom: 0.5em;
}


.site-header.site-branding {
	display: flex;
	flex-wrap: wrap;
}
