body {
    background: rgba(141, 70, 255, 0.151);
    
}

.site {
    max-width: var(--layout-width, 75rem);
    margin: 0 auto;
}

.site-header {
    @include bp(mobile) {
        
    }
    
    @include bp(desktop) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
   
}

.site-branding h1 a{
	text-decoration: none;
}

.card {
    border: 2px solid #CCC;
}

.card p {
    display: none;
}

.card p:first-of-type {
    display: block;
}

.card .button .less {
    display: none;
}

input:checked + .card p {
    display: block;
}

input:checked + .card .button .more {
    display: none;
}

input:checked + .card .button .less {
    display: inline;
}


.site-branding h1:hover{
	// transition: transform 3s, opacity 1s;
    @include bp(mobile) {
        
    }

    @include bp(desktop) {
		
        color: black;
		text-shadow: 0 0 10px black;
		// transform: scale(1.4);
		
	
    }

   
}

//css for header media

.site-media {
	min-height: 50vh;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2em 0;
}


.site-media:before {
	display: block;
	content: '';
	background: rgba(64, 71, 73, 0.8);
	position: absolute;
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
}

.site-media img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: fill;
}

.site-media .site-wrapper {
	width: 100%;
	color: #FFF;
	position: relative;
	z-index: 10;
	font-size: 1.6em;
	padding-top: 2rem;
    padding-bottom: 5rem;
    

	@include bp(desktop) {
        padding-right: 10em;
        padding-left: 10em;
	}
}

.site-media h2 {
	font-weight: 700;
}

.site-media p {
	font-weight: 400;
	opacity: 0.8;
}


// css for footer
.social {
	display: flex;
}

.social li {
	display: block;
	list-style: none outside;
	margin-right: 1em;
}

.social a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	border-radius: 50%;
	background: rgba(255,255,255,0.5);
	width: 2.8em;
	height: 2.8em;
	line-height: 1;
	transition: background 0.2s ease-in;
}

.social a:hover {
	background: rgba(255,255,255,0.9);
}

.site-footer .site-wrapper {
	padding: 2em 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2em;
}

.site-footer .social a {
	background: rgba(0,0,0,0.3);
	color: #FFF;
}

.site-footer .site-wrapper p {
	opacity: 0.4;
	transition: opacity 0.3s ease-in;
}

.site-footer:hover .site-wrapper p {
	opacity: 0.8;
}

.site-footer .site-wrapper p:first-child {
	font-size: 1.2em;
}

// css for site-main title
main.site-main{

	padding-bottom: 0.5em;
}
