.page-about {

    

}

.page-contacts {
   
    .map-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 35%;

        @include bp(mobile) {
            width: 80%;
        }
    }

    input[type=text], select, textarea {
            
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 10px;
        margin-top: 1.5em;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      
    } 
        input[type=submit]:hover {
        background-color: #acafac;
        
    }


// for home media
    // .page-home {
    //     .site-media {
    //         height: 80vh;
    //         justify-content: center;
    //     }
    // }
       
}

