.site-footer {
	
	.site-wrapper {
		// padding: 1em 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 1em;	
		background-color: rgb(189, 189, 189);
		height: 6em;
		padding-bottom: 0;
		font-size: 13px;
		
		@include bp(mobile){
			display: flex;
			flex-wrap: wrap;
			height: auto;
		}
	}
}

.social {
	display: flex;
	padding: 1.5em;

	@include bp(mobile){
		// display: flex;
		// justify-content: center;
		// margin-bottom: 2em;
		// margin-top: -3em;
		// margin-left: 1em;
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		margin-top: -1em;
		margin-left: 1em;
	}
	}

	@include bp(phone){
		display: flex;
		-webkit-box-pack: center;
		justify-content: center;
		width: 100%;
		margin-top: -3em;
		
	}
	
	li {
		display: block;
		margin-right: 1em;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			color: rgb(90, 90, 90);
			border-radius: 50%;
			background: rgba(255,255,255,0.5);
			width: 2.8em;
			height: 2.8em;
			line-height: 1;
			transition: background 0.2s ease-in;
			text-decoration: none;
		}
	}


.social a:hover {
	background: rgba(255,255,255,0.9);
	color: rgb(28, 28, 28);
}

.info {
	
	margin-bottom: 1em;
	margin-left: 2em;
	

	p {
		opacity: 0.6;
		cursor: pointer;
		font-size: 1.5em;
		opacity: 0.4;
		transition: opacity 0.3s ease-in;
		margin-top: 2.5em;
	
		&:hover {
			opacity: 1.1;
		}
	}
}

